

.page-bg{
    background-image: url("https://picsum.photos/536/354");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    
}